.bg-dark-aqua {
	background-color: #0b2638;
}

.bg-dark-blue {
	background-color: #0f4650;
}

.bg-aqua {
	background-color: #135764;
}

.bg-green-fluo {
	background-color: #71de47;
}

.bg-green-avocado {
	background-color: #55b443;
}
